# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Enamis Prototype.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Data\Unity\Enamis Prototype\.idea\.idea.Enamis Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
